/*Schrijf hier jouw CSS*/

.main {
    display: flex;
    flex-direction: row;

}
.outer-col-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
}
.outer-col-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-between;
}
.main-header {
    min-height: 15vh
}
.inner-row {
    display: flex;
    flex-direction: row;
}
.inner-col {
    display: flex;
    flex-direction: column;
    flex-basis: 70%
}
.article-text {
    min-height: 70vh;
}
.aside-text {
    display: flex;
    flex-direction: column;
    width: 30%
}
.main-footer {
    height: 15vh;
}